doctype html
html
  head
    title= title 
  body   
    .container
      div
        .countSpanish
        .countEnglish
        ul.tweets(style="height: 600; overflow: scroll")
    block footer
      script(src="https://cdn.socket.io/socket.io-1.2.0.js")
      script(src="http://code.jquery.com/jquery-1.11.1.js")
      script(type='text/javascript' src='/javascripts/functions.js')